/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Courier Prime', monospace;
  color: black;
  background: white;
}

li {
  margin: 10px;
}
/* Link Styles */

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ed1c24;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: white;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: black;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  background-color: #ed1c24;
  color: white
}

header {
  text-align: center;
  background: url('images/white-background.png') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid black;
  transition: all .5s;
}
header .profile-image:hover {
  transform: rotatey(540deg);
}
.tag {
  background-color: #ed1c24;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 5px auto;
  font-family: 'poppins', sans-serif;
  font-size: 30px;
} 
.location {
  background-color: #ed1c24;
  color: white;
  font-family: 'poppins', sans-serif;
  font-size: 30px;
}
.card {
  margin: 30px;
  padding: 10px 20px 20px;
  width: 600px;
  text-align: left;
  background: white;
  border-bottom: 4px solid black;
  transition: all .5s;
}
.card:hover {
  border-color: #ed1c24;
}

.skills li {
  margin-top: 20px;
}

.projects {
  width: 400px;
  height: 300px
}

.treehouse {
  height: 100px;
  width: auto;
  text-align: center;
}

.box {
  display: block;
  width: 1000px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -150px;
}

.title {
  color: #ed1c24;
}

.progress {
  width: 800px;
  height: auto;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/043-twitter.svg);
}
a.linkedin {
  background-image: url(images/045-linkedin.svg);
}
a.github {
  background-image: url(images/038-github.svg);
}

a.instagram {
  background-image: url(images/025-instagram.svg);
}

a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
